*{
    font-family: sans-serif;
    
}
.top{
display: grid;
grid-template-columns: 1fr 1fr;    
gap: 30px;
}
.box{
    padding-left: 100px;
    padding-top: 50px;
}
.rev{
    display: grid;
    grid-template-columns: 110px 200px;
    background-color: #f7f2f8;
    color: #511f50;
    width: 330px;
    border-radius: 15px;
    border: 5px white solid;
}
.rep{
    display: grid;
    grid-template-columns: 110px 220px;
    margin-left: 30px;
    background-color: #f7f2f8;
    color: #511f50;
    width: 330px;
    border-radius: 15px;
    border: 5px white solid;
}

.best{
    display: grid;
    grid-template-columns: 110px 200px;
    margin-left: 60px;
    background-color: #f7f2f8;
    color: #511f50;
    width: 330px;
    border-radius: 15px;
    border: 5px white solid;
}
.icon{
    margin-top: 20px;
}
p1{
    flex-wrap: wrap;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    gap: 50px;
}
.first{
    background-color: #511f50;
padding: 20px;
border-radius: 20px;
margin-top: 70px;
height: 200px;
width: 300px;
}
.violet{
    color: pink;
}
.first_txt{
    display: grid;
    grid-template-columns: 100px 150px;
}
.profile{
    border-radius: 50%;
}
.sec{
    background-color: #511f50;
padding: 20px;
border-radius: 20px;
margin-top: 90px;
height: 200px;
width: 300px;
}
.third{
    background-color: #511f50;
padding: 20px;
border-radius: 20px;
height: 200px;
margin-top: 110px;
width: 300px;
}
p1{
    flex-wrap: wrap;
}